.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.about-logo {
  height: 14rem;
  width: 14rem;
  margin: 1rem;
}

.about-description {
  margin: 1rem;
}

.about-history {
  margin-bottom: 1rem;
  text-align: center;
}

.about-action {
  text-align: center;
}

.about-banner {
  margin: 0;
  text-align: center;
}

.about-signature {
  padding-top: 2rem;
  text-align: center;
}
