.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index: 1;
  background: #198853;
  padding-left: 12%;
  padding-right: 12%;
}

.nav-logo {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.nav-links {
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: space-between;
}

.link {
  padding: 9px 25px;
  background-color: #188853;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration: none;
}
.link:hover {
  background-color: #f5f410;
  color: black;
}
