.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
